################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/desafio/bin/Debug/net8.0
/.vs/desafio/DesignTimeBuild
/.vs
/desafio/obj
